*.sym
*.bin
*.tar
*.so
*.a
.vscode

toolchain

drive
mnt
initramfs

kernel/build
kernel/kernel.bin

libsquire/build
libsquire/libsquire.a

init/build
init/init.bin

testbin/build
testbin/testbin.bin

libc/build
libc/libc.a
