
#
# Parts to build
#
CONFIG_BUILD_KERNEL=y
CONFIG_BUILD_TESTS=y
# end of Parts to build

#
# Architecture settings
#
CONFIG_ARCH_SELECT_ARM=y
# CONFIG_ARCH_SELECT_I365 is not set
CONFIG_PLATFORM_SELECT_ARM_EBAZ4205=y
# CONFIG_PLATFORM_SELECT_I365_PC is not set
# end of Architecture settings

CONFIG_ARCH="arm"
CONFIG_PLATFORM="ebaz4205"

#
# Kernel configuration
#
CONFIG_BOOT_HEAP_LENGTH=2
# end of Kernel configuration
